/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --accent-color: #4d5ae5;
  --secondary-accent-color: #404bbf;
  --secondary-bg-color: #f4f4fd;
  --white-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  font: inherit;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}

button {
  cursor: pointer;
  font-size: inherit;
  line-height: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.text {
  color: var(--secondary-text-color);
}

.container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
}
@media screen and (min-width: 768px) {
  .logo {
    line-height: 1.3;
  }
}
.logo span {
  color: var(--accent-color);
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    font-weight: 500;
    margin-left: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 76px;
  }
}

.header-flex {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  width: 100%;
}
.page-header .link {
  padding-top: 24px;
  padding-bottom: 24px;
}
.page-header .link {
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header .item:not(:last-child) {
  margin-right: 40px;
}
.page-header .link.current {
  color: var(--secondary-accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--secondary-accent-color);
}

.site-nav .link.current::after {
  position: absolute;
  display: block;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--secondary-accent-color);
  border-radius: 2px;
  bottom: 0;
  left: 0;
}

.contacts {
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}
.contacts .item {
  margin-left: 40px;
}
@media screen and (min-width: 1200px) {
  .contacts .item {
    margin-left: 0;
  }
}

.contacts-address {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts-address {
    display: block;
  }
}

.contacts-mail {
  margin-bottom: 4px;
}

@media screen and (min-width: 1200px) {
  .contacts-phone {
    margin-left: 40px;
  }
}
.contacts-link {
  text-decoration: none;
  font-style: normal;
  display: block;
  color: var(--secondary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover, .contacts-link:focus {
  color: var(--secondary-accent-color);
}

.hero {
  text-align: center;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white-color);
  padding-top: 112px;
  padding-bottom: 112px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-mobile@2x.jpg);
  }
}
@media screen and (min-width: 429px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-tablet.jpg);
  }
}
@media screen and (min-width: 429px) and (min-device-pixel-ratio: 2), screen and (min-width: 429px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 429px) and (min-resolution: 192dpi), screen and (min-width: 429px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-tablet@2x.jpg);
  }
}
@media screen and (min-width: 429px) and (min-width: 768px) {
  .hero {
    padding-bottom: 112px;
    padding-bottom: 108px;
  }
}
@media screen and (min-width: 429px) and (min-width: 1200px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero@2x.jpg);
  }
}

.hero-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  max-width: 318px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    max-width: 494px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.section-top {
  padding-top: 0;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 72px;
  text-align: center;
}

.section-bg {
  background: var(--secondary-bg-color);
}

.skills-section {
  display: none;
}
@media screen and (min-width: 1200px) {
  .skills-section {
    display: block;
  }
}

.team-section {
  padding-bottom: 128px;
}
@media screen and (min-width: 1200px) {
  .team-section {
    padding-bottom: 120px;
  }
}

@media screen and (max-width: 767px) {
  .feature-list .item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-list .item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list {
    flex-wrap: nowrap;
  }
  .feature-list .item:last-child {
    margin-right: 0;
  }
}

.feature-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .feature-title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: start;
  }
}

.feature-text {
  font-weight: 500;
}
@media screen and (min-width: 1200px) {
  .feature-text {
    font-weight: 400;
  }
}

.feature-item {
  justify-content: center;
  margin-bottom: 72px;
}
.feature-item::before {
  display: block;
  content: "";
  background-color: var(--secondary-bg-color);
  height: 112px;
  margin-bottom: 8px;
  background-size: 64px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .feature-item {
    max-width: 356px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-item {
    width: 264px;
    margin-right: 24px;
  }
}

.feature-item:nth-child(1)::before {
  background-image: url(../images/icons/group.svg);
}
@media screen and (max-width: 1199px) {
  .feature-item:nth-child(1)::before {
    display: none;
  }
}

.feature-item:nth-child(2)::before {
  background-image: url(../images/icons/clock.svg);
}
@media screen and (max-width: 1199px) {
  .feature-item:nth-child(2)::before {
    display: none;
  }
}

.feature-item:nth-child(3)::before {
  background-image: url(../images/icons/diagram.svg);
}
@media screen and (max-width: 1199px) {
  .feature-item:nth-child(3)::before {
    display: none;
  }
}

.feature-item:nth-child(4)::before {
  background-image: url(../images/icons/astronaut.svg);
}
@media screen and (max-width: 1199px) {
  .feature-item:nth-child(4)::before {
    display: none;
  }
}

.skills-list {
  display: flex;
}

.skills-item {
  margin-right: 24px;
}
.skills-item:last-child {
  margin-right: 0px;
}

.team-card {
  text-align: center;
  background: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  padding-top: 32px;
  padding-bottom: 32px;
  max-width: 264px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    flex-wrap: nowrap;
  }
}

.team-item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 72px;
}
.team-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
@media screen and (min-width: 768px) {
  .team-item {
    margin-right: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  fill: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-link:hover, .customer-link:focus {
  border: 1px solid var(--secondary-accent-color);
  fill: var(--secondary-accent-color);
}

.btn-order {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 500;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-order:focus, .btn-order:hover {
  color: var(--white-color);
  background-color: var(--secondary-accent-color);
}

.sm-list {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 24px;
}

.sm-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--accent-color);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.sm-link:focus, .sm-link:hover {
  background-color: var(--secondary-accent-color);
}

.portfolio-section {
  padding-top: 48px;
  padding-bottom: 48px;
}
@media screen and (min-width: 768) {
  .portfolio-section {
    padding-top: 64px;
    padding-bottom: 96px;
  }
}
@media screen and (min-width: 1200) {
  .portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
  }
}

.filter {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 72px;
  }
}

.filter-btn {
  color: var(--accent-color);
  background-color: var(--secondary-bg-color);
  font-weight: 500;
  letter-spacing: 0.04em;
  margin-right: 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  transition-property: box-shadow, background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover, .filter-btn:focus {
  color: var(--white-color);
  background-color: var(--secondary-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08);
}
@media screen and (max-width: 767px) {
  .filter-btn {
    margin-bottom: 16px;
  }
}

.works {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .works {
    margin-top: -16px;
  }
}

.work-card {
  background: var(--white-color);
  border: 1px solid #e7e9fc;
  border-top: none;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.work-item {
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work-item {
    margin-bottom: 72px;
  }
}
.work-item .link {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .work-item {
    margin-right: 24px;
  }
}
.work-item:nth-child(2n) {
  margin-right: 0;
}

@media screen and (min-width: 1200px) {
  .work-item:nth-child(2n) {
    margin-right: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .work-item:nth-child(3n) {
    margin-right: 0;
  }
  .work-item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
.work-item .work-item .link:hover,
.work-item .link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  text-align: justify;
  left: 0;
  top: 0;
  color: var(--secondary-bg-color);
  background-color: var(--accent-color);
  overflow: auto;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-img-wrapper {
  position: relative;
  overflow: hidden;
}

.work-item .link:hover .overlay,
.work-item .link:focus .overlay {
  transform: translateY(0);
}

footer {
  background-color: var(--primary-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
footer .logo {
  color: var(--secondary-bg-color);
  margin-bottom: 16px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  footer .logo {
    text-align: start;
  }
}
footer .text {
  color: #e7e9fc;
  max-width: 264px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
@media screen and (min-width: 1200px) {
  footer .text {
    margin-bottom: 0;
  }
}

.footer-logo {
  margin-right: 24px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-logo {
    margin-left: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    margin-right: auto;
  }
}

.footer-flex {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer-flex {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer-flex {
    display: flex;
    flex-wrap: nowrap;
  }
}

.footer-sm .sm-list {
  justify-content: center;
  margin-bottom: 72px;
}
@media screen and (min-width: 1200px) {
  .footer-sm .sm-list {
    justify-content: start;
    margin-top: 16px;
    margin-bottom: 0;
  }
}
.footer-sm .sm-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-sm .sm-link:hover, .footer-sm .sm-link:focus {
  background-color: #31d0aa;
}

.sm-text {
  color: var(--white-color);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .sm-text {
    text-align: start;
  }
}

.fotter-form-subscribe {
  margin-left: auto;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .fotter-form-subscribe {
    margin-left: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .fotter-form-subscribe {
    margin-left: auto;
  }
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer-form {
    flex-direction: row;
    align-items: normal;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    flex-direction: row;
    align-items: normal;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-text {
    margin-bottom: 16px;
  }
}

.footer-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  background-color: transparent;
  color: var(--white-color);
  margin-bottom: 16px;
}
.footer-form-input::-moz-placeholder {
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-input::placeholder {
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .footer-form-input {
    width: 264px;
    margin-right: 24px;
  }
}

.footer-form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 40px;
  gap: 16px;
  background-color: var(--accent-color);
  color: var(--white-color);
  border-radius: 4px;
  border: none;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-submit:hover, .footer-form-submit:focus {
  color: var(--white-color);
  background-color: var(--secondary-accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: inherit;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  background-color: #fcfcfc;
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover, .modal-close-button:focus {
  background-color: var(--secondary-accent-color);
}

.modal-close-button-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .modal-close-button-icon,
.modal-close-button:focus .modal-close-button-icon {
  fill: var(--white-color);
}

/* Modal form */
.modal p {
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 14px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-input-desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  font-size: 18px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox-desc:before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: border-color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked + .modal-form-checkbox-desc::before {
  background-image: url(../images/icons/check.svg);
  background-color: var(--secondary-accent-color);
  background-repeat: no-repeat;
  background-position: center;
  border-color: var(--accent-color);
}

.modal-form-checkbox:focus + .modal-form-checkbox-desc::before {
  outline: 0.55px solid rgb(0, 95, 204);
}

.modal-form-checkbox-desc {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
  margin-bottom: 24px;
}

.modal-form-submit {
  display: block;
  align-self: center;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 500;
  letter-spacing: 0.04em;
  width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-submit:hover, .modal-form-submit:focus {
  color: var(--white-color);
  background-color: var(--secondary-accent-color);
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: var(--white-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container .sm-list {
  gap: 56px;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu-open {
    display: none;
  }
}

.burger-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-close-button:hover, .burger-close-button:focus {
  background-color: var(--secondary-accent-color);
}

.burger-close-button-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-close-button:hover .burger-close-button-icon,
.burger-close-button:focus .burger-close-button-icon {
  fill: var(--white-color);
}

.mobile-site-nav {
  padding-left: 40px;
}
.mobile-site-nav .item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 40px;
  letter-spacing: 0.02em;
}
.mobile-site-nav .item:last-child {
  margin-bottom: 0;
}
.mobile-site-nav .item > .current {
  color: #404bbf;
}

.mob-contacts-address {
  text-align: start;
  margin-left: 40px;
  margin-top: auto;
  margin-bottom: 48px;
}

.mob-contacts-phone-link {
  text-decoration: none;
  font-style: normal;
  display: block;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  color: #4d5ae5;
  margin-bottom: 40px;
}

.mob-contacts-mail-link {
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #434455;
}/*# sourceMappingURL=main.css.map */