.section {
  padding-top: 96px;
  padding-bottom: 96px;

  @media screen and (min-width: 1200px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.section-top {
  padding-top: 0;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 72px;
  text-align: center;
}

.section-bg {
  background: var(--secondary-bg-color);
}

.skills-section {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.team-section {
  padding-bottom: 128px;
}
